.container{
  display: flex;
  position: relative;
  padding-top: 80px;
}

.body {
  margin-top:0 !important;
  padding-top:0 !important;
  /*min-width:800px !important;*/
}
.wrapper {
text-align: left;
cursor: default;
border: 1px solid #ccc;
border-top: 0;
background: #fff;
box-shadow: -1px 1px 3px rgba(0,0,0,.1);
position: absolute;
display: none;
z-index: 2147483647;
max-height: 254px;
overflow: hidden;
overflow-y: auto;
box-sizing: border-box;

}
.wb-autocomplete-suggestion {
 position: relative;
 padding: 0 .6em;
 line-height: 23px;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 font-size: 1.02em;
 color: #333;
}
.wb-autocomplete-suggestion b {
  font-weight: bold;
 }

.wb-autocomplete-suggestion.selected {
   background: #f0f0f0;
}
